.header{
    background-color: azure;
    display:flex;
    justify-content: space-between;
}
.description{
    display: flex;
    flex-direction: column;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    justify-content: flex-end;
    display: flex;

}
p,h2{
    text-align: center;
}